.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 5%;
  border: 2px solid white;
  box-shadow: 6px 7px 20px 1px rgba(51, 47, 47, 0.71);
  -webkit-box-shadow: 6px 7px 20px 1px rgba(51, 47, 47, 0.71);
  -moz-box-shadow: 6px 7px 20px 1px rgba(51, 47, 47, 0.71);
}

/* front of the card */
.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}

/* when the cards match */

.match {
  animation: fadeOut ease 2s;
  /* makes animation permanent */
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}