.App {
  text-align: center;
  height: 100%;
  }

h1 {
  margin: 0;
}

.App .app-title {
  font-family: 'Luckiest Guy', cursive;
  color: var(--white-color);
  text-shadow: 3px 3px 3px var(--black-color);
  font-size: 2rem;
  letter-spacing: 4px;
}

.App .btn-start {
  justify-content: center;
  padding: 20px;
}

.App .game-container {
  display: flex;
  animation: fadeIn 1s;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gameboard {
  flex: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.grid-img {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  height: 470px;
  width: 470px;
  background: linear-gradient(to bottom, var(--complementary) 5%, var(--complementary-light) 100%);
  border-radius: 2rem;
  box-shadow: 7px 9px 28px -3px rgba(26, 26, 26, 0.7);
    -webkit-box-shadow: 7px 9px 28px -3px rgba(26, 26, 26, 0.7);
    -moz-box-shadow: 7px 9px 28px -3px rgba(26, 26, 26, 0.7);
}

.results-counter {
  flex: 30%;
  padding: 20px;
  text-align: left;
  margin-left: 40px;
  font-size: 1.2rem;
}